Effective At time parameter gets truncated

When passing a full datetime object to the effective at parameter in `LedgerTransactions.New()`, it appears to get truncated to the day even though the API specifies that this field should be supported to 6 decimal places. 
e.g. passing `EffectiveAt: mt.F(time.Now())` at 2023-10-18T19:03:21Z (according to the created_at timestamp) results in a transaction being created with `effective_at": "2023-10-18T00:00:00.000000Z`

Thanks for the report, this will be fixed soon. This had been encoded as a date instead of date-time in our OpenAPI spec.

@rattrayalex , please let us know once you have an ETA on release of this fix as it's quite a critical one blocking us from switching over to using this package. We sometimes pin records to EOD time for various business reasons and a lapse here would inadvertently exclude those records.

Hi @sudotliu , sorry for the delay here – several other changes to the MT OpenAPI spec have held this up. We're trying to push out a hotfix for you. 

Thanks for the report @mm9gw, we're getting that fixed up right now.

That issue should be resolved in https://github.com/Modern-Treasury/modern-treasury-go/releases/tag/v2.0.2

@rattrayalex thanks for the update! Not the most urgent, but I just tested it out and it seems to truncate to the second now when the precision is microseconds

Ah, interesting… Right now, we're using OpenAPI's `date-time` format, which references on [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6) which is only second precision. 

Is microsecond precision important to your application?

@rattrayalex we actually have been utilizing the smallest possible time unit for some of our transactions. MT docs state that the `effective-at` field uses Format: ISO8601 to 6 decimal places (https://docs.moderntreasury.com/platform/reference/update-ledger-transaction) which evaluates to microseconds. Milliseconds wouldn't necessarily help since the main problem is it's misleading that we could pass in a time value following the MT specified format and have it lose precision

Got it, that definitely makes sense and I agree it'd be ideal to not lose precision here, especially given the description in the docs. 

Unfortunately, I'm not sure we'll be able to prioritize a fix for this in the near term. It might help do so if you could share more about how you utilize sub-second timestamps in your application.

As a workaround, you can use `mt.Raw` when constructing your parameters:

```go
EffectiveAt: moderntreasury.Raw[time.Time]("2023-10-18T00:00:00.000000Z")
```